body{
    overflow-x: hidden;
}

/* .chatbotContainer{
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;


    
    
} */

/* .sidemenubar{
padding: 5rem;
padding-top: 2rem;
}
.sidemenubar h2{
    width: 15vw;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 4rem;
} */